.icon {
  width: 0.6rem;
  height: 0.6rem;
  overflow: visible;

  :global() {
    path {
      vector-effect: non-scaling-stroke;
    }
  }
}

.small {
  width: 0.5rem;
  height: 0.5rem;
}

.medium {
  height: 0.75rem;
  width: 0.75rem;
}

.large {
  height: 1rem;
  width: 1rem;
}

.full {
  height: 100%;
  width: 100%;
}